@using Trivi.Lib.Utility
@model Trivi.Lib.Domain.TableViews.ViewCollection
@using Microsoft.AspNetCore.Http.Extensions;


<li class="list-group-item collections-list-item" data-collection-id="@Model.Id">


    <div class="row">
        <div class="col-lg-9"><a href="@Model.UriGui" class="text-decoration-none">@Model.Name</a></div>
        <div class="col-lg-2">@Model.CreatedOn.ToDisplayDateOnly()</div>

        <div class="col-lg-1">
            <div class="d-flex justify-content-end">
                <div class="dropdown">
                    <button class="btn btn-sm btn-xs btn-reset" type="button" data-bs-toggle="dropdown">
                        @Html.Raw(Icons.DotsHorizontal)
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="@Model.UriGui">Questions</a></li>
                        <li><a class="dropdown-item" href="@Model.UriGui/settings">Settings</a></li>
                        <li><a class="dropdown-item" href="@Model.UriGui/setup">Run</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</li>

