@using Trivi.Lib.Domain.ViewModels.Gui
@model CollectionPageLayoutModel<CollectionQuestionsPageVM>



@{
    
    var alertsContainerClass = "alerts-container";
    var formClass = "form-question";
    var promptInputClass = "form-question-input-prompt";

    var editorContainerClass = "question-editor-sa";
    var promptInputId = "form-question-sa-input-prompt";    
    var answerInputId = "form-question-sa-input-answer";
}


<div class="question-editor @editorContainerClass">

    <form class="@formClass">

        <div class="@alertsContainerClass"></div>

        <fieldset>

            <div class="input-feedback form-spacing">
                <label for="@promptInputId">Prompt</label>
                <input type="text" class="form-control form-control-lg input-feedback-input @promptInputClass" id="@promptInputId" required />
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>


            <div class="input-feedback form-spacing">
                <label for="@answerInputId">Answer</label>
                <input type="text" class="form-control form-control-lg input-feedback-input" id="@answerInputId" required />
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>

        </fieldset>

        <div class="form-spacing">
            <button type="submit" class="btn btn-lg btn-success btn-submit">Save</button>
            <button type="button" class="btn btn-lg bg-secondary-subtle text-danger btn-delete">Delete</button>
        </div>

    </form>

</div>


