@using Trivi.Lib.Domain.ViewModels.Gui
@model CollectionPageLayoutModel<CollectionQuestionsPageVM>


@{
    var editorContainerClass = "question-editor-tf";
    var alertsContainerClass = "alerts-container";
    var formClass = "form-question-tf";
    var promptInputId = "form-question-tf-input-prompt";
    var answerRadioInputName = "form-question-tf-input-answer";
    var answerRadioInputTrueId = $"{answerRadioInputName}-true";
    var answerRadioInputFalseId = $"{answerRadioInputName}-false";

}


<div class="question-editor @editorContainerClass">

    <form class="@formClass">

        <div class="@alertsContainerClass"></div>

        <fieldset>

            <div class="input-feedback form-spacing">
                <label for="@promptInputId">Prompt</label>
                <input type="text" class="form-control form-control-lg input-feedback-input" id="@promptInputId" required />
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>

            <div class="form-spacing">

                <div>Answer</div>

                <div class="radio-group" data-radio-group-name="@answerRadioInputName">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="@answerRadioInputName" id="@answerRadioInputTrueId" value="true">
                        <label class="form-check-label" for="@answerRadioInputTrueId">True</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="@answerRadioInputName" id="@answerRadioInputFalseId" value="false">
                        <label class="form-check-label" for="@answerRadioInputFalseId">False</label>
                    </div>
                </div>
            </div>

        </fieldset>

        <div class="d-flex form-spacing">
            <button type="button" class="btn btn-lg btn-success btn-submit">Save</button>
        </div>

    </form>

</div>

